body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 100;
    color: #242A2E;
}

@font-face {
    font-family: 'Inter';
    src: url(/asset/Fonts/Inter/static/Inter_18pt-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Inter';
    src: url(/asset/Fonts/Inter/static/Inter_18pt-Medium.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url(/asset/Fonts/Inter/static/Inter_18pt-SemiBold.ttf);
    font-weight: 300;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.bg-white-90 {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-white-90:hover {
    background-color: rgba(255, 255, 255, 1);
}

nav .icon-menu {
    height: 3rem;
    width: auto;
}

nav .logo-img {
    height: 2rem;
    width: auto;
}

nav .dropdown-item:hover {
    background-color: white;
    text-decoration: underline 2px #00A73A;
    text-underline-offset: 0.5rem;
}

nav .mega-dropdown-menu {
    max-height: 85vh;
    overflow-y: auto;
}

nav .nav-menu-tabs {
    position: fixed;
    left: 0;
    top: 74px;
    background-color: white;
    min-width: 280px;
    flex-shrink: 0;
}

nav .nav-menu-tabs .nav-link {
    color: #242A2E;
    padding: 1rem 2rem;
}

nav .nav-menu-tabs .nav-link.active {
    background-color: #F6F8FA;
    color: #242A2E;
}

nav .tab-content-details {
    position: fixed;
    left: 22%;
    top: 74px;
    width: 77%;
    height: 390px;
    background: linear-gradient(to right, rgba(246, 248, 250, 1), rgba(246, 248, 250, 0.8)), url(/asset/Image/tentang_grab.jpg) no-repeat;
    background-size: cover;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}

.fs-7 {
    font-size: 0.75rem;
}

nav .tab-content-details a {
    color: #242A2E;
    text-decoration: none;
}

nav .tab-content-details a:hover {
    text-decoration: underline 2px #00A73A;
    text-underline-offset: 0.3rem;
}

hr {
    border: 1px solid black;
    opacity: 1;
}

.text-dark-blue {
    color: #383E43;
}

.text-green {
    color: #069D3A;
}

.text-dark-green {
    color: #00804A;
}

.text-green-hover:hover {
    color: #094931 !important;
}

.pt-20 {
    padding-top: 20rem;
}

.pe-20 {
    padding-right: 20rem;
}

.text-justify {
    text-align: justify;
}

/* Halaman_utama */
.video-bg {
    background-image: url(/asset/Image/video_grab1.gif);
    background-size: cover;
    height: 100vh;
}

.bg-tentang {
    background-color: #002E27;
}

.bg-unduh {
    background-color: #00B14F;
}

.px-5rem {
    padding-left: 5rem;
    padding-right: 5rem;
}

.icon-img {
    width: 75px;
}

.berita-img {
    width: 265px;
}

/* Mitra_pengemudi */
.unduh-btn {
    background-color: #EEF9F9;
    color: #184440;
}

.unduh-btn:hover {
    background-color: #D7EEEE;
}

.driver-image-style {
    background-image: url(/asset/Image/grab_driver.jpg);
    background-size: cover;
    height: 90vh;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.active-img {
    border: 10px solid #00A73A;
}

.nav-pills .nav-link.active {
    background-color: white;
}

.nav-pills .nav-link.active .profile-img {
    border: 7px solid #00A73A49;
}

blockquote {
    margin-top: 1rem;
}

.black-btn {
    background-color: white;
    color: #242A2ECE;
}

.black-btn:hover {
    color: #242A2E;
}

.black-btn.active {
    background-color: #242A2E;
    color: white;
}

.jelajahi-apk-border {
    border-top: 2px solid #00804A;
    border-bottom: 2px solid #00804A;
}

.mb-15 {
    margin-bottom: 15rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.jadi-mitra-container {
    background-color: #3CB95A;
    padding-top: 5rem;
}

.daftar-bar {
    background-color: #00B14F;
}

.mitra-grabmart-bg {
    background-image: url(/asset/Image/mitra_grabmart.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Mitra_grabmart */
.form-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.mitra-mart-btn {
    background-color: #00B14F;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.mitra-mart-btn:hover {
    background-color: #00B14F;
    color: white;
}

/* Tanggung_jawab */
.tanggung-image-style {
    background-image: url(/asset/Image/tanggung_jawab.png);
    background-size: cover;
    height: 90vh;
}

.fs-5rem {
    font-size: 5rem;
}

.pink-card {
    background-color: #F0E5E4;
    padding: 30px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

hr.gray {
    border: 1px solid #E5E9F0;
}

.pink-card-item {
    height: 300px;
}

footer.footer-bg {
    background-color: #EAEFF2;
}

footer .footer-logo {
    height: 2rem;
    width: auto;
}

footer .social-icon {
    height: 20px;
    width: auto;
}

footer .footer-country {
    width: 25px;
    height: auto;
}

footer .footer-small-text li:hover {
    text-decoration: underline;
}

footer .footer-bottom-bar {
    background-color: #363A45;
}

footer .app-store-icon {
    width: 125px;
}

@media (max-width: 992px) {
    nav .mega-dropdown-menu {
        position: static;
        width: 100%;
        box-shadow: none;
        border: 0;
    }

    nav .mega-menu-content {
        flex-direction: column;
    }

    nav .tab-content-details {
        position: static;
        height: auto;
        background: #f6f8fa;
        border-radius: 0;
    }

    nav .nav-menu-tabs {
        position: static;
        min-width: 100%;
    }

    .nav-menu-tabs .nav-link {
        white-space: nowrap;
        min-width: fit-content;
    }
}